{% extends "layout.html" %}
{% block content %}
    <div class="my-main-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="my-form-group">
                <legend class="my-border-bottom my-border-top my-mb-4">Register as User</legend>
                <div class="my-form-group">
                    {{ form.username.label(class="my-form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                        <div class="my-invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="my-form-control my-form-control-lg my-text-box") }}
                    {% endif %}
                </div>
                <div class="my-form-group">
                    {{ form.email.label(class="my-form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                        <div class="my-invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="my-form-control my-form-control-lg my-text-box") }}
                    {% endif %}
                </div>
                <div class="my-form-group">
                    {{ form.password.label(class="my-form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                        <div class="my-invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="my-form-control my-form-control-lg my-text-box") }}
                    {% endif %}
                </div>
                <div class="my-form-group">
                    {{ form.confirm_password.label(class="my-form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="my-form-control my-form-control-lg is-invalid my-text-box") }}
                        <div class="my-invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="my-form-control my-form-control-lg my-text-box") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="my-form-group">
                {{ form.submit(class="my-btn my-btn-outline-info") }}
            </div>
        </form>
        <small class="my-text-muted">
            Already Have An Account? <a class="my-ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>

{% endblock content %}
